* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

nav {
    height: 80px;
    background-color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem calc((100vw - 1300px) / 2);
    padding-right: 0;
}

a:visited {
    text-decoration: none;
}

a:link {
    text-decoration: none;
}

.nav-items {
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    margin-left: 50px;
}

.nav-items li {
    list-style: none;
}

.nav-items a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 1em;
    padding: 20px;
    display: block;
    white-space: nowrap;
}

.burger {
    display: none;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 5px 15px;
    transition: all 0.3s ease;
}

@media screen and (max-width: 1024px) {
    .nav-items {
    width: 60%;
    }
}

@media screen and (max-width: 1000px) {
body {
    overflow-x: hidden;
}

.nav-items {
    position: fixed;
    right: 0px;
    height: 95vh;
    top: 8.4vh;
    background-color: #ffcddd;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    z-index: 1;
}

.nav-items li {
    opacity: 0;
}

.nav-items li a {
    color: white;
    font-size: 1.5em;
}

.burger {
    display: block;
    cursor: pointer;
}
}

.nav-active {
    transform: translateX(0%);
}

@keyframes navLinkFade {
from {
    opacity: 0;
    transform: translateX(50px);
    }
    to {
    opacity: 1;
    transform: translateX(0);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}


.background-container {
    background: #ffcddd;
    background-image:url(../src/images/combs-scissors-copy-space.jpg);
    background-position: center;
    background-size: cover;
    color: #fff;
    height: 700px;
    position: relative;
    }

#logo {
    padding: 0;
    margin: 0;
    width: 200px;
}


.logo {
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
    font-style: italic;
    padding: 0;
}

.logo img {
    object-fit: cover;
    max-width: 200px;
    max-height: 200px;
    width: auto;
    height: auto;
}

nav a {
    text-decoration: none;
    color: #fff;
    padding: 0 1.5rem;
}

nav a:hover {
    color: #f19db8;
}


.hero-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 600px;
    padding: 3rem calc((100vw - 1300px) / 2);
}

.column-left {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    color: #000;
    padding: 0rem 2rem;
}

.column-left h1 {
    margin-bottom: 1rem;
    font-size: 3.8rem;
}

.column-left p {
    margin-bottom: 2.5rem;
    font-size: 1.5rem;
    line-height: 1.5;
}

button {
    padding: 1rem 3rem;
    font-size: 1.2rem;
    margin: 1rem;
    border: none;
    color: #fff;
    background: #000;
    cursor: pointer;
    border-radius: 50px;
}

button:hover {
    background: #fff;
    color: #000;
}

.column-right {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0rem 2rem;
}

.hero-image {
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 800px) {
    .background-container {
    display: flex;
    height: 80vh;
    align-items: center;
    }
}

@media screen and (max-width: 800px) {
    .hero-container {
    padding: 0;
    }
}

@media screen and (max-width: 800px) {
    .logo img {
    object-fit: cover;
    max-width: 150px;
    max-height: 150px;
    width: auto;
    height: auto;
    }
}

@media screen and (max-width: 800px) {
    .background-container h1 {
    font-size: 2.8em;
    }
}

@media screen and (max-width: 800px) {
    .background-container p {
    font-size: 1.2em;
    margin-bottom: 1em;
    }
}

@media screen and (max-width: 800px) {
    .background-container button {
    font-size: 1em;
    text-align: center;
    padding: 1rem 1.8rem;
    }
} 

/*------------------Products section---------------*/

.products {
    padding: 30px 12px 50px 12px;
    display: flex;
    height: 600px;
    background-color: #000;
    padding-top: 2em;
}

.products-left {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.products-left img {
    border: 3px solid white;
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    border-radius: 8px;
}

.products-right {
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.products-right h2 {
    font-size: 2.2rem;
    max-width: 95%;
    padding: 10px;
    line-height: 1.5;
    margin: 0.2em .5em 0 .5em;
    color: #fff;
}

.products-right p {
    font-size: 1.4rem;
    max-width: 90%;
    padding: 1em 1em;
    margin: 2rem 0 0 0;
    line-height: 2;
    color: #fff;
}

@media screen and (max-width: 750px) {
    .products {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    height: 90vh;
    }
} 

@media screen and (max-width: 750px) {
    .products-right p {
    font-size: 1em;
    margin: 0;
    padding: 0;
    width: 60%;
    margin-top: 10%;
    }
}

@media screen and (min-width: 1000px) {
    .products-right p {
    font-size: 1.5em;
    width: 80%;
    margin: 0;
    padding: 0;
    }
}

@media screen and (max-width: 750px) {
    .products-right h2 {
    font-size: 2em;
    margin: 0;
    padding: 0;
    }
} 


/*-----------------------Services---------------------*/

.services {
    height: 90vh;
    background-color:#ffcddd;
    padding: 40px 12px;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
}

.services-section h2 {
    background-color: #ffcddd;
    font-size: 2em;
    text-align: center;
    padding: 1em;
    border-bottom: 3px ridge black;
}

.services h3 {
    text-align: center;
    height: 15%;
    width: 80%;
    padding: 5%;
}

.services p {
    text-align: center;
    width: 100%;
    height: 5em;
    line-height: 1.5;
    margin: 0;
    padding: 0 5% 10% 5%;
    text-overflow: hidden;
    overflow: auto;
    white-space: normal;
}

.services img {
    object-fit: cover;
    width: 9rem;
    aspect-ratio: 3 / 3;
    border-radius: 50%;
}

.upper-services {
    display: flex;
    flex-direction: row;
    height: 50%;
    margin-bottom: 8px;
}

.lower-services {
    display: flex;
    flex-direction: row;
    height: 50%;
}

.service1, .service2, .service3, .service4 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    margin: 0 6px 0 6px;
}

@media screen and (min-width: 900px) {
    .services {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
    justify-content: space-evenly;
    }
}

@media screen and (min-width: 900px) {
    .services .upper-services, .lower-services {
    display: flex;
    flex-direction: row;
    height: 95%;
    margin: 1em;
    width: 100%;
    justify-content:center;
    align-content: center;
    }
}

@media screen and (min-width: 900px) {
    .services .upper-services {
    display: flex;
    justify-content: space-between;
    margin: 0;
    }
}

@media screen and (min-width: 900px) {
    .services .lower-services {
    display: flex;
    justify-content: space-between;
    margin: 0;
    }
}


@media screen and (min-width: 900px) {
    .services-section h2 {
    font-size: 2.8em;
    width: 100%;
    }
}

@media screen and (min-width: 900px) {
    .services-section h3 {
    font-size: 1.8rem;
    width: 100%;
    margin: 0;
    padding: 0;
    height: 3rem;
    }
}

@media screen and (min-width: 900px) {
    .services-section p {
    font-size: 1rem;
    text-overflow: revert;
    overflow: revert;
    white-space: normal;
    height: 10em;
    }
}

@media screen and (min-width: 900px) {
    .services-section img {
    width: 100%;
    }
}



/*-------------------Testimonial section---------------*/

.testimonials {
    height: 90vh;
    background-color: #000;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 50px 12px;
    color: #fff;
}

.testimonial {
    width: 80%;
    height: 30%;
    color: #fff;
    border: 2px ridge white;
    margin: 8px;
    text-align: center;
}

.testimonials h3 {
    font-size: 1.5em;
    text-align: center;
}

.stars {
    width: 90%;
    padding: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.star {
    font-size: 1.5em;
    padding: 8px;
    display: flex;
    justify-content: space-around;
    width: 20%;
}

blockquote {
    line-height: 1.5;
    height: 5em;
    padding: .5em .5em;
    text-align: left;
    font-size: 1em;
    text-overflow: hidden;
    overflow: auto;
    white-space: normal;
}

figcaption {
    margin: 16px;
    font-weight: bold;
}

.checked {
    color: orange;
}

@media screen and (min-width: 800px) {
    .testimonial {
    width: 80%;
    }
}


/*---------------------Social Media-----------------------*/



.container-wave {
    position: relative;
    background: #000;
    height: 15vh;
    background-color: #000;
    border-top: 8px solid #ffcddd;
}

.wave {
    position: absolute;
    height: 45px;
    width: 100%;
    background: #000;
    bottom: 0;
}

.wave::before, .wave::after {
    content: "";
    display: block;
    position: absolute;
    border-radius: 100% 50%;
}

.wave::before {
    width: 55%;
    height: 109%;
    background-color: #ffcddd;
    right: -2%;
    top: 60%;
}
.wave::after {
    width: 55%;
    height: 100%;
    background-color: #000;
    left: -1.5%;
    top: 40%;
}

.container-wave h2 {
    position: relative;
    text-align: center;
    vertical-align: middle;
    background-color: #000;
    color: #fff;
    top: 35%;
}

.social-media {
    height: 20vh;
    background-color: #ffcddd;
}

.sm-icons {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
}

.sm-icons .fa {
    padding: 20px;
    width: 70px;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

.fa-facebook, .fa-instagram, .fa-phone {
    background: #575757c0;
    color: white;
}

.fa-facebook:hover {
    opacity: 0.8;
    background-color:#3B5998;
}

.fa-instagram:hover {
    opacity: 0.8;
    background-color:#d62976;
}

.fa-phone:hover {
    opacity: 0.8;
    background-color:#1f1f1f;
}

/*--------------------Footer--------------*/

footer {
    height: 500px;
    display: flex;
    background-color: #000000;
    color: #fff;
    flex-direction: column;
    padding: 40px 0px 0px 0px;
}

.left-footer {
    height: 100%;
    text-align: center;
    margin: 0;
    padding: 0;
}

.left-footer h3 {
    font-size: 1.5rem;
    margin: 0 0 16px 0;
    line-height: 1.5;
    padding: 0 16px 0 16px;
}

.right-footer {
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.right-footer h3 {
    font-size: 1.3rem;
}

.rf-left {
    margin-top: 16px;
}

.tel-footer {
    padding: 8px;
}

.hours {
    padding: 8px;
    margin-bottom: 12px;
}

.rf-right {
    border-top: 2px solid white;
}

.rf-right span {
    padding-top: 8px;
    font-size: 12px;
}

/*------------------ About Page ---------------*/

.about-container {
    display: flex;
    flex-direction: column;
    height: 90vh;
    background-color: #ffcddd;
}

.about-left {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    height: 35vh;
}

.about-left p {
    font-size: 1em;
    display: flex;
    width: 90%;
    line-height: 1.5;
    text-align: center;
    align-items: center;
    align-content: center;
}

.about-left h2 {
    font-size: 1.8em;
    display: flex;
    text-align: center;
    padding: 2%;
}

.about-right {
    height: 55vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 8px;
}

.about-right img {
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}


@media screen and (min-width: 800px) {
    .about-container {
    display: flex;
    flex-direction: row;
    height: 87vh;
    }
}

@media screen and (min-width: 800px) {
    .about-left {
    height: 100%;
    width: 50%;
    justify-content: center;
    }
}

@media screen and (min-width: 800px) {
    .about-left h2 {
    font-size: 2.8em;
    margin-bottom: 2em;
    }
}

@media screen and (min-width: 800px) {
    .about-left p {
    font-size: 1.3em;
    margin-bottom: 2em;
    }
}

@media screen and (min-width: 800px) {
    .about-right{
    height: 100%;
    width: 50%;
    padding: 8px;
    }
}

/*----------------- BLOG ----------------------*/

.blog-upper {
    text-align: center;
    font-size: 1.8em;
    padding: .5em;
    background-color: #ffcddd;
}
.blog-container {
    max-width: 2000px;
    margin: 0 auto;
    padding: 1em;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #ffcddd;
    align-items: center;
}

.blog-column {
    flex-basis: 32%;
    max-width: 800px;
    border: 1px solid #ddd;
    background-color: #f7f7f7;
    border-radius: 12px;
    margin: 2%;
    color: #000;
    display: flex;
}

.blog-column-flip {
    flex-basis: 32%;
    max-width: 800px;
    border: 1px solid #ddd;
    background-color: #f7f7f7;
    border-radius: 12px;
    margin: 2%;
    color: #000;
    display: flex;
    flex-direction: row-reverse;
}

.blog-container a {
    text-decoration: none;
    pointer-events: none;
}

.blog-column p {
    line-height: 1.6;
    padding: 8px;
    text-overflow: ellipsis;
}

.blog-column img {
    width: 50%;
    object-fit: cover;
    aspect-ratio: 2 / 3;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}

.blog-right {
    padding: 8px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.blog-right h3 {
    font-size: 1.2em;
    border-bottom:1px solid black;
}

.blog-right p {
    height: 60%;
    width: 100%;
    padding: 8px;
    text-overflow:clip;
    overflow: scroll;
}

.blog-column-flip p {
    line-height: 1.6;
    padding: 8px;
    text-overflow: ellipsis;
}

.blog-column-flip img {
    width: 50%;
    object-fit: cover;
    aspect-ratio: 2 / 3;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}

/*-------------------Contact Form-------------------*/

.contact-title {
    font-size: 1.8em;
    text-align: center;
    margin-top: 1em;
}

.formcarry-container * {
    box-sizing: border-box;

    /* colors */
    --color-blue: #f19db8;
    --color-light-blue: #ffcddd;
    --color-gray: #e5e7eb;
    --color-dark-gray: #9da3ae;
    --color-pink: #eb088c;
}

.formcarry-container {
    /* container */
    --c-width: 60%;
    --c-max-width: 600px;

    width: var(--c-width);
    max-width: var(--c-max-width);
    display: block;
    margin: 8vh auto 8vh auto;
}

.formcarry-form label {
    display: block;
    padding: 12px 0 2px 0;
    letter-spacing: -0.2px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
}

.formcarry-form input,
.formcarry-form textarea {
    font-size: 16px;
    display: block;
    width: 100%;
    padding: 10px;
    background-color: var(--color-gray);
    border: none;
    border: 4px solid var(--color-gray);
    outline: none;
    border-radius: 8px;
    color: var(--color-dark-gray);
}

.formcarry-form input:focus,
.formcarry-form textarea:focus {
    background-color: #fff;
    color: var(--color-dark-gray);
}

.formcarry-form input:focus:required:invalid {
    border-color: var(--color-pink);
    background-color: #fff;
}

.formcarry-form button {
    display: block;
    margin-top: 12px;
    width: 100%;
    padding: 12px 20px;
    margin-left: 0px;
    border-radius: 8px;
    border-color: transparent;
    background-color: var(--color-blue);
    color: #fff;
    font-weight: 700;
    font-size: 18px;

    transition: 300ms all;
}

.formcarry-form button:hover {
    background-color: var(--color-light-blue);
}

.formcarry-alert {
    padding: 12px;
    border-radius: 10px;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    margin-top: 12px;
    display: none;
}

.formcarry-alert.visible {
    display: block;
}

.formcarry-alert.success {
    background: #69cf9d;
}

.formcarry-alert.error {
    background: #de524c;
}

